@import "./src/app/_variables";

.phrases {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $background;
  margin-top: 8px;

  &__content {
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: white;

    &__div{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__text {
      color: $text-secondary;
      font-style: italic;
      text-align: center;
    }

    &__author {
      color: $text-primary;
      font-weight: bold;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary;
      padding: 4px 7px;
      border: 1px solid $color-secondary;
      color: $text-secondary;
      border-radius: 12px;
      cursor: pointer;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  &__modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    &__container {
      width: 100%;
      max-width: 500px;
      background-color: white;
      padding: 40px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__title {
        color: $text-primary;
      }

      &__list {
        max-height: 200px;
        overflow-y: auto;
        .phraseItem {
          background-color: $background;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 8px;
          // ... estilos dos itens
        }
      }

      &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        &__input {
          background-color: $background;
          padding: 10px;
          border-radius: 8px;
          border: 1.2px solid $color-secondary;
        }

        &__saveBtn {
          background-color: $color-primary;
          color: $text-secondary;
          padding: 10px;
          border-radius: 12px;
          border: 1px solid $color-secondary;
        }
      }

      &__close {
        background-color: $color-secondary;
        color: white;
        padding: 10px;
        border-radius: 12px;
      }
    }
  }
}
