@import "./src/app/_variables";

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &__container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);

    &__title {
      color: $text-primary;
      font-size: 1.5rem;
      margin: 0;
    }

    &__list {
      max-height: 250px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .phraseItem {
        background-color: $background;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border-left: 4px solid $color-secondary;

        &__actions {
          display: flex;
          justify-content: flex-end;
          gap: 15px;
          margin-top: 10px;

          button {
            background: none;
            border: none;
            cursor: pointer;
            font-weight: bold;
          }

          .edit { color: $color-secondary; }
          .delete { color: #e74c3c; }
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 20px;
      background-color: $background;
      border-radius: 12px;

      &__input {
        background-color: white;
        padding: 12px;
        border-radius: 8px;
        border: 1.2px solid $color-secondary;
        outline: none;
      }

      &__saveBtn {
        background-color: $color-primary;
        color: $text-secondary;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid $color-secondary;
        font-weight: bold;
        cursor: pointer;
      }
    }

    &__close {
      background-color: $color-secondary;
      color: white;
      padding: 12px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
    }
  }
}
